@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  nav {
    overflow: visible;
    display: flex;
    justify-content: flex-end;
  }

  nav .burger-button {
    display: flex;
  }

  nav .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    z-index: 1;
    right: -120px;
    color: black;
    /* border: 1px solid black; */
    width: 100px;
    transition: 0.5s ease;
  }

  nav .navbar li a {
    color: black;
  }

  .active {
    border-bottom: 2px solid black;
  }

  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    right: 0;
    background: black;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: black;
  }

  /* home */
  .container #home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .container #home::after {
    content: "";
    width: 35%;
    height: 50%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: none;
    /* border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%; */
  }

  .container #home .judul-utama {
    color: black;
  }
  
  .container #home .judul-utama h1 {
    
    font-size: 90px;
  }
  
  .container #home .judul-utama h2 {
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  
  .container #home .judul-utama p {
    font-size: 25px;
  }
  
  .container #home .profile {
    overflow: hidden;
    /* border: 3px dashed black; */
    /* padding: 5px 5px 1px 5px; */
    /* box-shadow: 0px 0px 10px 3px black; */
  }

  .container #home .profile::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    z-index: -1;
    top: 85px;
    right: 85px;
    filter: drop-shadow(10px 10px 0px rgb(158, 158, 158));
  }
  
  .container #home .profile img {
    width: 250px;
    border: 3px solid transparent;
    /* animation: img-border 3s linear infinite; */
  
    /* background: linear-gradient(to top, black, white); */
  
    /* filter: drop-shadow(0px 0px 5px black); */
  
    image-resolution: from-image;
    image-resolution: 300dpi;
    image-resolution: from-image 300dpi;
    image-resolution: 300dpi snap;
  
    image-resolution: inherit;
    image-resolution: initial;
    image-resolution: revert;
    image-resolution: revert-layer;
    image-resolution: unset;

    filter: drop-shadow(2px 0px 1px white);
  }
  
}