body {
  margin: 0;
  padding: 0;
  height: 27930px;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: black; */
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

nav ul {
  list-style: none;
}

nav .navbar {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

nav .navbar-l {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

nav .navbar a {
  text-decoration: none;
  color: black;
  /* border-bottom: 2px solid black; */
}

nav .navbar a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

nav .navbar a:hover:after {
  width: 100%;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}

.container {
  height: 90vh;
  width: 100%;
  position: fixed;
}

.container .layar {
  height: 100%;
  border-bottom: 5px solid black;
  overflow: hidden;
  background-color: white;
}

.container .layar #home {
  border: 1px solid black;
}

.container .layar #t-rex {
  position: absolute;
  top: 89%;
  left: 30px;
}

.container .layar .judul {
  position: absolute;
  top: 14%;
  left: 150px;
  padding: 10px;
}

.container .layar .judul h1:nth-child(1) {
  font-size: 170px;
  margin: 0px;
}

.container .layar .judul h1:nth-child(2) {
  margin-top: -10px;
  font-size: 50px;
}

.container .layar .profile {
  position: absolute;
  top: 15%;
  left: 700px;
  border: 2px dashed black;
  border-radius: 100%;
  padding: 4px 4px 0px 4px;
}

.container .layar .profile img {
  border: 3px solid black;
  box-shadow: inset 1px 1px 5px 1px black;
}

.container .trap {
  position: absolute;
  top: 48%;
}

/* section about */
.container .layar #about .con-about {
  height: 100%;
  background-image: linear-gradient(to right, white 5% , gray);
  position: absolute;
  top: -0.5px;
  border-left: 2px dashed black;
}

.container .layar #about .con-about .judul-about {
  position: absolute;
  top: 10%;
  left: 10%;
}

.container .layar #about .con-about .judul-about h1 {
  font-size: 50px;
}

.container .layar #about .con-about .deskripsi {
  position: absolute;
  top: 30%;
  left: 12%;
}

.container .layar #about .con-about .deskripsi p {
  font-size: 20px;
}

/* section work */
.container .layar #work .con-work {
  height: 100%;
  position: absolute;
  top: -0.5px;
  border-left: 2px dashed black;
  background-image: linear-gradient(to right, gray , white);
}

.container .layar #work .con-work .judul-work {
  position: absolute;
  top: 10%;
  left: 10%;
}

.container .layar #work .con-work .judul-work h1 {
  font-size: 50px;
}

.container .layar #work .con-work .con-card {
  /* border: 1px solid black; */
  width: 100%;
  height: 70%;
  position: relative;
  top: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .layar #work .con-work .con-card .card {
  border: 1px solid black;
  width: 270px;
  padding: 8px;
  margin: 20px 0px 20px 20px;
  box-shadow: 4px 4px 0px 0px black;
}

.container .layar #work .con-work .con-card .card .img-card {
  width: 100%;
  height: 170px;
  box-shadow: inset 0px 0px 5px 3px black;
}

/* section skill */
.container .layar #skill .con-skill {
  height: 100%;
  position: absolute;
  top: -0.5px;
  border-left: 2px dashed black;
  background: linear-gradient(213deg, gray 0%, rgba(255,255,255,1) 50%);
}

.container .layar #skill .con-skill .judul-skill {
  position: absolute;
  top: 10%;
  left: 10%;
}

.container .layar #skill .con-skill .judul-skill h1 {
  font-size: 50px;
}

/* section contact */
.container .layar #contact .con-contact {
  height: 100%;
  position: absolute;
  top: -0.5px;
  border-left: 2px dashed black;
  background: linear-gradient(160deg, gray 0%, rgba(255,255,255,1) 100%);
}

.container .layar #contact .con-contact .judul-contact {
  position: absolute;
  top: 10%;
  left: 10%;
}

.container .layar #contact .con-contact .judul-contact h1 {
  font-size: 50px;
}