* {
  margin: 0;
  padding: 0;
  font-family: "Concert One", "sans-serif";
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(204, 204, 204);
  border: 1px dashed black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav {
  border-bottom: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 10;
}

nav .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  list-style: none;
  margin-left: 100px;
}

nav .navbar li {
  padding: 10px;
}

nav .navbar li a {
  text-decoration: none;
  color: black;
}

.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  right: 0;
  background: black;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: black;
}

nav .navbar-l {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav .navbar-l li {
  margin: 0px 10px;
}

nav .navbar-l li a {
  color: black;
}

.active {
  border-bottom: 2px solid black;
}

.container #home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.parallax {
  position: fixed;
  top: 30px;
  width: 100vw;
  z-index: -1;
}

.container #home .judul-utama h1 {
  font-size: 130px;
}

.container #home .judul-utama h2 {
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.container #home .judul-utama p {
  font-size: 25px;
}

.container #home .profile {
  border-radius: 100%;
  overflow: hidden;
  /* border: 3px dashed black; */
  padding: 5px 5px 1px 5px;
  /* box-shadow: 0px 0px 10px 3px black; */
}

.container #home .profile img {
  border-radius: 100%;
  border: 3px solid transparent;
  animation: img-border 3s linear infinite;

  /* background: linear-gradient(to top, black, white); */

  /* filter: drop-shadow(0px 0px 5px black); */

  image-resolution: from-image;
  image-resolution: 300dpi;
  image-resolution: from-image 300dpi;
  image-resolution: 300dpi snap;

  image-resolution: inherit;
  image-resolution: initial;
  image-resolution: revert;
  image-resolution: revert-layer;
  image-resolution: unset;
}

@keyframes img-border {
  /* 0% {
    border-bottom: 3px solid black;
  } */
  25% {
    border-right: 3px dashed black;
  }
  50% {
    border-top: 3px dashed black;
  }
  75% {
    border-left: 3px dashed black;
  }
  100% {
    border-bottom: 3px dashed black;
  }
}

.container #about {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 50px;
  position: absolute;
  z-index: 2;
}

.container #about h1.judul {
  border-bottom: 4px solid white;
}

.container #about .deskripsi {
  width: 300px;
  position: relative;
  top: 30px;
  left: 20px;
}

.container #about .deskripsi p {
  font-size: 25px;
}

.container #about .con-hobi {
  width: 400px;
  box-sizing: border-box;
  padding: 5px 10px;
  position: relative;
  top: 80px;
  left: 30px;
  border: 2px dashed white;
}

.container #about .con-hobi h1 {
  font-size: 30px;
  margin-bottom: 8px;
  border-bottom: 3px solid white;
  /* width: fit-content; */
  text-align: center;
}

.container #about .con-hobi .hobi {
  box-sizing: border-box;
  padding: 10px;
}

.container #about .con-hobi .hobi ul li {
  margin: 10px;
}

.margin-parallax {
  margin-top: 100vh;
}

.judul {
  font-size: 45px;
  margin: 10px;
  width: fit-content;
}

.container #work {
  height: 100vh;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 50px;
  display: none;
  z-index: 1;
}

.container #work h1 {
  border-bottom: 4px solid black;
}

.container #work .card-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  background-color: white;
}

.container #work .card-con .card {
  width: 300px;
  border: 2px dashed black;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  margin: 10px;
  transition: 0.3s linear;
}

.container #work .card-con .card:hover {
  box-shadow: 5px 5px 5px 1px black;
  transform: translate(-5px, -5px);
}

.container #work .card-con .card h1 {
  text-align: center;
}

.container #work .card-con .card .card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 10px 0px;
  border: 2px solid black;
}

.container #work .card-con .card .card-img img {
  filter: drop-shadow(0px 0px 5px black);
  width: 100%;
}

.container #skill {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 50px;
  position: absolute;
  z-index: 2;
}

.container #skill h1.judul {
  border-bottom: 4px solid white;
}

.container #skill .con-skill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 70vh;
  /* border: 1px solid white; */
}

.container #skill .con-skill .stick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px dashed white;
  width: 250px;
  box-sizing: border-box;
  height: 80px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.container #skill .con-skill .stick .stick-content {
  text-align: center;
  width: 100%;
}

.container #contact {
  height: 100vh;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 50px;
  display: none;
  z-index: 1;
}

.container #contact h1 {
  border-bottom: 4px solid black;
  margin-top: -10px;
}

.container #contact .con-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.container #contact .con-form form {
  border: 3px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 500px;
}

.container #contact .con-form form .btn {
  outline: none;
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
  width: 300px;
}

.container #contact .con-form form .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid black; */
  margin: 8px 0px;
  font-size: 20px;
}

.container #contact .con-form form .label input, textarea {
  width: 500px;
  padding: 5px;
  font-size: 18px;
}

/* .container #contact .con-form form .label textarea {
  padding: 5px;
} */
